@charset "UTF-8";

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	background: linear-gradient(to bottom right, White, Beige, Gray);
	margin-top: 1em;
}

img {
    width: 400px;
	margin-top: 0em;
}

#pa {
	width: 400px;
	border-radius: 5px;
	margin: 50px;
}

div {
	margin: 50px;
	text-align: center;
}

p {
	font-size: larger;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #FF5F1F;
	text-transform: uppercase;
	padding-bottom: 0px;
}


@media only screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}

	img {
		width: 200px;
	}

	p {
		font-size: 12px;
	}
  }